body {
  background-color: #2c2c2c;
  color: #dcdcdc;
  font-size: 20px;
  padding: 10px 20px;
}

.tab {
  margin: 10px;
  padding: 8px;
  cursor: pointer;
  text-align: center;
  flex: 1;
  color: salmon;
}

.selected-tab{
  border-bottom: 1px solid salmon;
  color: white;
}

#all-tabs {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
}

#main-heading-text {
  width: 100%;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  margin-top: 0;
}

.top-title{
  color: salmon;
}

.example{
  color: yellowgreen;
}

a {
  text-decoration: none;
  color: salmon;
}

address {
  text-decoration: none;
}