/* html{
    padding: 10px;
    border: solid 2px salmon;
    background-color: #2c2c2c;
} */
body{
    color: whitesmoke;
    margin: 0;
    padding: 2em;
}
 
.translation-x-help{
  padding: 3px;
  margin-top: 3px;
  display: flex;
  justify-content: space-around;
}

.help-note{
  flex-basis: 350px;
}

.help-note-header{
  padding: 0.25rem;
  background-color: #202020;
  border-radius: 5px;
  color: salmon;
  font-size: x-large;
  position: sticky;
  top: 0;
}
.help-text{
  position: sticky;
  background-color:#252525 ;
  border-radius: 5px;
  padding: 0.25rem;
  top: 2rem;
}

table {
    margin-top: 10px;
    margin-left: 2px;
    text-align: left;
    border-collapse: collapse; 
    column-gap: 2px;
  }

  th, td {
    padding: 0.25rem;
  }

  tr th {
    background: #202020;
    border-radius: 5px;
    color: salmon;
    font-size: x-large;

  }

  th {
    background: #2c2c2c;
    position: sticky;
    top: 0; 
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  }
  
  