body {
  background-color: #2c2c2c;
  color: #dcdcdc;
  font-size: 20px;
  padding: 20px;
}

.tab {
  margin: 2px;
  border: 3px solid rebeccapurple;
  cursor: pointer;
  text-align: center;
  flex: 1;
  color: salmon;
}

#all-tabs {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
}

#main-heading-text {
  width: 100%;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.top-title{
  color: salmon;
}

.warning{
  color: #f02323;
  font-weight: 200 ;
}
.example{
  color: yellowgreen;
}
.user-basic{

}

.input-characters{
  display: flex;
  column-gap: 5px;

}

#character-change{
  
}