html, body {
  width: 200px;
}

#emoji-table{
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}

.instruction{
  /* font-style: italic; */
  color: rebeccapurple;
}

.page {
  display: none;
}

.page:nth-child(1) {
  display: block;
}

button{
  border: 1px solid #121212;
  font-size: 20px;
  cursor: pointer;
}

