html, body{
  width: 420px;
  height: 450px;
}

body{
  padding: 2px;
  background-color: #2c2c2c;
  color: #dcdcdc;
  overflow: hidden;
  font-size: 17px;
}

/* style for title heading*/

.title{
  font-size: 25px;
  color: salmon;
  text-align: center;
  font-weight: bold;
  padding: 5px;
}

/* control button */

#control {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  margin: 5px;
}

.control-button {
  flex: 1;
  cursor: pointer;
  background-color: #f76d43;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin: 0px 5px;
  padding: 10px;
  font-size: 16px;
}

.control-button:hover {
  background-color: #f86133;
  cursor: pointer;
}

.control-button:active {
  cursor: pointer;
  transform: scale(0.98);
}


/* style for recent/fvorites/emoji/emotes tab headers */

.type-toggle{
  margin: 10px 0px;
  display: flex;
}

.tab {
  cursor: pointer;
  text-align: center;
  flex: 1;
  color: salmon;
}

/* style for emoji table */

.tab-page{
  display: none;
  height: 250px;
  flex-wrap: wrap;
  justify-content: left;
  margin-top: 15px;
  overflow-y: scroll;
}

#recents-table{
  display: flex;
}

#search-results-page {
  display: none;
  margin-top: 15px;
  flex-wrap: wrap;
  justify-content: left;
  overflow-y: scroll;
}

/* style for text to be displayed when tab-page is empty*/

.empty-text {
  color: #69727b;
  text-align: center;
  font-size: 16px;
  width: 75%;
  margin: 15% auto;
}

/* style for emoji/emotes buttons*/

.emote-button, .emoji-button {
  height: 50px;
  cursor: pointer;
  background-color: #212121;
  border: 1px solid #000;
}

.emoji-button{
  font-size: 20px;
  width: 64px;
  padding: 5px;
}

.emote-button{
  font-size: 14px;
  width: 200px;
  color: inherit;
}

.emote-button:hover, .emoji-button:hover {
  background-color: #2e2e2e;
}

.emoji-button:active, .emoji-button:active {
  background-color: #3e3e3e;
  transform: scale(0.95);
}

.toggle-button#toggle-on{
  background-color: green;
}

.page {
  display: none;
}

.page:nth-child(1) {
  display: block;
}

#search-bar{
  margin: 10px 10px;
}

#navigation {
  display: flex;
  flex-wrap: none;
  justify-content: space-around;
}

#search, #next, #previous {
  background-color: #212121;
  color: inherit;
  border: 1px solid black;
  border-radius: 5px;
}

#next, #previous{
  height: 35px;
  width: 40%;
}

#search {
  height: 30px;
  margin: 0px 2px;
  padding-left: 7px;
}

.horizontal-line {
  height: 2px;
  background-color: salmon;
  margin: 10px auto;
}
