html{
  width: 420px;
  height: 450px;
}

body{
  width: 420px;
  height: 450px;
  padding: 2px;
  background-color:whitesmoke;
  overflow: hidden;
}

#emoji-table{
  display: flex;
  height: 250px;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 15px;
  overflow-y: scroll;
}

#emoticon-table{
  display: none;
  height: 250px;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 15px;
  overflow-y: scroll;
}

.toggle-button {
  font-size: 16px;
  font-weight: bolder;
  cursor: pointer;
  color: whitesmoke;
}

.toggle-button#toggle-on{
  background-color: green;
}

.page {
  display: none;
}

.page:nth-child(1) {
  display: block;
}

.type-toggle{
  display: inline;
}

.emoji-button{
  font-size: 20px;
  cursor: pointer;
  padding: 5px;
  min-width: 50px;
  min-height: 50px;
}

button#next{
  min-width: 30px;
  padding: 3px;
}

button#previous{
  min-width: 30px;
  padding: 3px;
}

