html, body{
  width: 440px;
  height: 480px;
}

body{
  padding: 2px;
  background-color: #2c2c2c;
  color: #dcdcdc;
  overflow: hidden;
  font-size: 17px;
}

/* control button */

#control {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  margin: 5px;
}

.control-button {
  flex: 1;
  cursor: pointer;
  background-color: #f76d43;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin: 0px 5px;
  padding: 10px;
  font-size: 16px;
}

.control-button:hover {
  background-color: #f86133;
  cursor: pointer;
}

.control-button:active {
  cursor: pointer;
  transform: scale(0.98);
}


/* style for recent/fvorites/emoji/emotes tab headers */

.type-toggle{
  margin: 10px 0px;
  display: flex;
}

.tab {
  cursor: pointer;
  padding-bottom: 8px;
  text-align: center;
  flex: 1;
  color: salmon;
}

.selected-tab {
  color: white;
  border-bottom: 2px solid salmon;
}

/* style for emoji table */

.tab-page, #search-results-page{
  display: none;
  height: 250px;
  flex-wrap: wrap;
  justify-content: left;
  margin-top: 15px;
  overflow-y: scroll;
}

#search-results-page {
  height: 265px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

#recents-table{
  display: flex;
}

/* style for text to be displayed when tab-page is empty*/

.empty-text {
  color: #69727b;
  text-align: center;
  font-size: 18px;
  width: 75%;
  margin: 15% auto;
}

/* style for emoji/emotes buttons*/

.emote-button, .emoji-button {
  height: 50px;
  cursor: pointer;
  background-color: #212121;
  border: 1px solid #000;
}

.emoji-button{
  font-size: 20px;
  width: 65px;
  padding: 5px;
}

.emote-button{
  font-size: 14px;
  width: 200px;
  color: inherit;
}

.emote-button:hover, .emoji-button:hover {
  background-color: #2e2e2e;
}

.emoji-button:active, .emoji-button:active {
  background-color: #3e3e3e;
  transform: scale(0.95);
}

/* style for emoji/emote pages*/

.fab-page, .recents-page {
  margin-left: 15px;
}

.emote-page, .emoji-page {
  font-size: 0px;
  margin-left: auto;
  margin-right: auto;
  display: none;
}

.emote-page {
  width: 96%;
}

.emoji-page {
  width: 93%;
}

.emote-page:nth-child(1), .emoji-page:nth-child(1) {
  display: block;
}

/* style for navigation buttons/search bar*/

#search-bar{
  margin: 10px 10px;
}

#navigation {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

#search, #next, #previous {
  background-color: #212121;
  color: inherit;
  border: 1px solid black;
  border-radius: 5px;
}

#next, #previous{
  height: 35px;
  width: 45%;
}

#search {
  height: 30px;
  margin: 0px 2px;
  padding-left: 7px;
  width: 80%
}

.horizontal-line {
  height: 2px;
  background-color: salmon;
  margin: 10px auto;
}
